<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
</table>
    <table class="table">
        <thead class="table-dark">
        <tr>
			<th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
			    </tr>
			</thead>
    <tbody>
        <tr th:each="question, loop : ${paging}">
			<td th:text="${loop.count}"></td>
			<td>
			    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
			</td>
              <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
		<a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
    </tbody>
</table>
<table class="table">
	<thead class="table-dark">
	 <tr>
	<th>속성</th>
	<th>설명</th>
	<th>값</th>
	</tr>
	</thead>
	   <tbody>
		<tr>
		<th>paging.isEmpty</th>
		<td>페이지 존재 여부를 의미한다(게시물이 있으면 false, 없으면 true).</td>
		<td th:text="${paging.isEmpty}"></td>
		</tr>
		<tr>
		<th>paging.totalElements</th>
		<td>전체 게시물 개수를 의미한다.</td>
		<td th:text="${paging.totalElements}"></td>
		</tr>
		<tr>
		<th>paging.totalPages</th>
		<td>전체 페이지 개수를 의미한다.</td>
		<td th:text="${paging.totalPages}"></td>
		</tr>
		<tr>
		<th>paging.size</th>
		<td>페이지당 보여 줄 게시물 개수를 의미한다.</td>
		<td th:text="${paging.size}"></td>
		</tr>
		<tr>
		<th>paging.number</th>
		<td>현재 페이지 번호를 의미한다</td>
		<td th:text="${paging.number}"></td>
		</tr>
		<tr>
		<th>paging.hasPrevious</th>
		<td>이전 페이지의 존재 여부를 의미한다.</td>
		<td th:text="${paging.hasPrevious}"></td>
		</tr>
		<tr>
		<th>paging.hasNext</th>
		<td>다음 페이지의 존재 여부를 의미한다.</td>
		<td th:text="${paging.hasNext}"></td>
		</tr>
	</tbody>
</div>
</html>